[submodule "afferent"]
	path = graphics/afferent
	url = git@github.com:nathanial/afferent.git
	branch = master
[submodule "cellar"]
	path = data/cellar
	url = git@github.com:nathanial/cellar.git
	branch = master
[submodule "chroma"]
	path = graphics/chroma
	url = git@github.com:nathanial/chroma.git
	branch = master
[submodule "collimator"]
	path = data/collimator
	url = git@github.com:nathanial/collimator.git
	branch = master
[submodule "crucible"]
	path = testing/crucible
	url = git@github.com:nathanial/crucible.git
	branch = master
[submodule "enchiridion"]
	path = apps/enchiridion
	url = git@github.com:nathanial/enchiridion.git
	branch = master
[submodule "ledger"]
	path = data/ledger
	url = git@github.com:nathanial/ledger.git
	branch = master
[submodule "legate"]
	path = network/legate
	url = git@github.com:nathanial/legate.git
	branch = master
[submodule "protolean"]
	path = network/protolean
	url = git@github.com:nathanial/protolean.git
	branch = master
[submodule "terminus"]
	path = graphics/terminus
	url = git@github.com:nathanial/terminus.git
	branch = master
[submodule "tincture"]
	path = graphics/tincture
	url = git@github.com:nathanial/tincture.git
	branch = master
[submodule "trellis"]
	path = graphics/trellis
	url = git@github.com:nathanial/trellis.git
	branch = master
[submodule "wisp"]
	path = network/wisp
	url = git@github.com:nathanial/wisp.git
	branch = master
[submodule "assimptor"]
	path = graphics/assimptor
	url = git@github.com:nathanial/assimptor.git
	branch = master
[submodule "herald"]
	path = web/herald
	url = git@github.com:nathanial/herald.git
	branch = master
[submodule "citadel"]
	path = web/citadel
	url = git@github.com:nathanial/citadel.git
	branch = master
[submodule "scribe"]
	path = web/scribe
	url = git@github.com:nathanial/scribe.git
	branch = master
[submodule "loom"]
	path = web/loom
	url = git@github.com:nathanial/loom.git
	branch = master
[submodule "todo-app"]
	path = apps/todo-app
	url = git@github.com:nathanial/todo-app.git
	branch = master
[submodule "homebase-app"]
	path = apps/homebase-app
	url = git@github.com:nathanial/homebase-app
	branch = master
[submodule "lighthouse"]
	path = apps/lighthouse
	url = git@github.com:nathanial/lighthouse.git
[submodule "chronicle"]
	path = web/chronicle
	url = git@github.com:nathanial/chronicle.git
[submodule "quarry"]
	path = data/quarry
	url = git@github.com:nathanial/quarry
[submodule "worldmap"]
	path = graphics/worldmap
	url = git@github.com:nathanial/worldmap.git
[submodule "staple"]
	path = util/staple
	url = git@github.com:nathanial/staple.git
[submodule "oracle"]
	path = network/oracle
	url = git@github.com:nathanial/oracle.git
[submodule "chisel"]
	path = data/chisel
	url = git@github.com:nathanial/chisel.git
[submodule "parlance"]
	path = util/parlance
	url = git@github.com:nathanial/parlance.git
[submodule "blockfall"]
	path = apps/blockfall
	url = git@github.com:nathanial/blockfall.git
[submodule "fugue"]
	path = audio/fugue
	url = git@github.com:nathanial/fugue.git
[submodule "linalg"]
	path = math/linalg
	url = git@github.com:nathanial/linalg.git
[submodule "twenty48"]
	path = apps/twenty48
	url = git@github.com:nathanial/twenty48.git
[submodule "measures"]
	path = math/measures
	url = git@github.com:nathanial/measures.git
[submodule "vane"]
	path = graphics/vane
	url = git@github.com:nathanial/vane.git
[submodule "chronos"]
	path = util/chronos
	url = git@github.com:nathanial/chronos-lean.git
[submodule "ask"]
	path = apps/ask
	url = git@github.com:nathanial/ask.git
[submodule "grove"]
	path = graphics/grove
	url = git@github.com:nathanial/grove.git
[submodule "rune"]
	path = util/rune
	url = git@github.com:nathanial/rune.git
[submodule "timeout"]
	path = util/timeout
	url = git@github.com:nathanial/timeout.git
[submodule "markup"]
	path = web/markup
	url = git@github.com:nathanial/markup.git
[submodule "cairn"]
	path = apps/cairn
	url = git@github.com:nathanial/cairn.git
[submodule "data/convergent"]
	path = data/convergent
	url = git@github.com:nathanial/convergent.git
[submodule "data/reactive"]
	path = data/reactive
	url = git@github.com:nathanial/reactive.git
[submodule "data/tabular"]
	path = data/tabular
	url = git@github.com:nathanial/tabular.git
[submodule "apps/minefield"]
	path = apps/minefield
	url = git@github.com:nathanial/minefield.git
[submodule "data/entity"]
	path = data/entity
	url = git@github.com:nathanial/entity.git
[submodule "data/totem"]
	path = data/totem
	url = git@github.com:nathanial/totem.git
[submodule "graphics/raster"]
	path = graphics/raster
	url = git@github.com:nathanial/raster.git
[submodule "util/conduit"]
	path = util/conduit
	url = git@github.com:nathanial/conduit.git
[submodule "util/docgen"]
	path = util/docgen
	url = git@github.com:nathanial/docgen.git
[submodule "util/tracer"]
	path = util/tracer
	url = git@github.com:nathanial/tracer.git
[submodule "util/crypt"]
	path = util/crypt
	url = git@github.com:nathanial/crypt.git
[submodule "apps/solitaire"]
	path = apps/solitaire
	url = git@github.com:nathanial/solitaire.git
[submodule "web/stencil"]
	path = web/stencil
	url = git@github.com:nathanial/stencil.git
[submodule "util/smalltalk"]
	path = util/smalltalk
	url = git@github.com:nathanial/smalltalk-lean4.git
[submodule "graphics/afferent-demos"]
	path = graphics/afferent-demos
	url = git@github.com:nathanial/afferent-demos.git
[submodule "apps/tracker"]
	path = apps/tracker
	url = git@github.com:nathanial/tracker.git
[submodule "util/sift"]
	path = util/sift
	url = git@github.com:nathanial/sift.git
[submodule "apps/timekeeper"]
	path = apps/timekeeper
	url = git@github.com:nathanial/timekeeper.git
[submodule "data/galaxy-gen"]
	path = data/galaxy-gen
	url = git@github.com:nathanial/galaxy-gen.git
[submodule "apps/astrometry"]
	path = apps/astrometry
	url = git@github.com:nathanial/astrometry.git
[submodule "apps/eschaton"]
	path = apps/eschaton
	url = git@github.com:nathanial/eschaton.git
[submodule "data/tileset"]
	path = data/tileset
	url = git@github.com:nathanial/tileset.git
[submodule "apps/chatline"]
	path = apps/chatline
	url = git@github.com:nathanial/chatline.git
[submodule "network/exchange"]
	path = network/exchange
	url = git@github.com:nathanial/exchange.git
[submodule "network/jack"]
	path = network/jack
	url = git@github.com:nathanial/jack.git
[submodule "web/docsite"]
	path = web/docsite
	url = git@github.com:nathanial/docsite.git
[submodule "apps/image-gen"]
	path = apps/image-gen
	url = git@github.com:nathanial/image-gen.git
[submodule "util/selene"]
	path = util/selene
	url = git@github.com:nathanial/selene.git
[submodule "graphics/shader"]
	path = graphics/shader
	url = git@github.com:nathanial/shader.git
[submodule "apps/agent-mail"]
	path = apps/agent-mail
	url = git@github.com:nathanial/agent-mail.git
